body {
    width: 95%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.sort.desc:after {
    content:"▼";
}

.sort.asc:after {
    content:"▲";
}
th {
    cursor: pointer;
    color: white;
    background-color: #443833;
}
th,td {
    text-align: center;
}

p {
    margin-top: 1rem;
}
.modal {
    .modal-content {
        margin: 0 auto;
    }
}
// floor.blade.php
.chart_building_name {
    text-align: center;
    a {
        text-decoration:underline;
    }
}