body {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.flex {
    display: flex;
    justify-content: space-between;
    h1 {
        font-size: 2rem;
    }
}
// table
.red {
    color: red;
}

.blue {
    color: blue;
}

.sort.desc:after {
    content:"▼";
}

.sort.asc:after {
    content:"▲";
}

th,.th {
    cursor: pointer;
    color: white;
    background-color: #443833;
}
th,td {
    text-align: center;
}
table {
    font-size: 0.9rem;
    th {
        height: 50px;
        line-height: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

p {
    margin-top: 1rem;
}
.modal {
    .modal-content {
        margin: 0 auto;
    }
}
//スタッキング表示
#stucking {
    p{
        margin: 0;
        font-size:0.8rem;
    }
    td {
        width: 70px;
    }
    .undefined {
        background-color: #ffcdd2;
    }
}
// floor.blade.php
.chart_building_name {
    text-align: center;
    a {
        text-decoration:underline;
    }
}
// highcharts
.flex {
    width: 100%;
    .highcharts {
        width: 90%;
    }
}

.search {
    width: 20%;
    margin: 0 0 1rem auto;
}