$oyama-main-color:#443833;
body {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 98%;
}
.flex {
    display: flex;
    justify-content: space-between;
}
header {
    background-color: $oyama-main-color;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    .header-flex {
        display: flex;
        h1 {
            font-size: 2rem;
            margin-right: 1rem;
            a {
                color: white;
            }
        }
    }
}
// table
.red {
    color: red;
}

.blue {
    color: blue;
}

.sort.desc:after {
    content:"▼";
}

.sort.asc:after {
    content:"▲";
}

th,.th {
    cursor: pointer;
    color: white;
    background-color: $oyama-main-color;
    font-weight: bold;
}
th,td {
    text-align: center;
}
table {
    font-size: 0.9rem;
    th {
        height: 50px;
        line-height: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

p {
    margin-top: 1rem;
}
.modal {
    .modal-content {
        margin: 0 auto;
    }
}
//スタッキング表示
#stucking {
    p{
        margin: 0;
        font-size:0.8rem;
    }
    td {
        width: 70px;
        font-weight: 250;
    }
    .undefined {
        background-color: #ffcdd2;
    }
    a {
        color: black;
    }
}
.block {
    display: inline-block;
}
// floor.blade.php
.chart_building_name {
    text-align: center;
    a {
        text-decoration:underline;
    }
}
// highcharts
.flex {
    width: 100%;
    .highcharts {
        width: 90%;
    }
}

.search {
    width: 20%;
    margin: 0 0 1rem auto;
}