@charset "UTF-8";

body {
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.sort.desc:after {
  content: "\25BC";
}

.sort.asc:after {
  content: "\25B2";
}

th {
  cursor: pointer;
}

p {
  margin-top: 1rem;
}

