@charset "UTF-8";

body {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex h1 {
  font-size: 2rem;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.sort.desc:after {
  content: "\25BC";
}

.sort.asc:after {
  content: "\25B2";
}

th,
.th {
  cursor: pointer;
  color: white;
  background-color: #443833;
}

th,
td {
  text-align: center;
}

table {
  font-size: 0.9rem;
}

table th {
  height: 50px;
  line-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

p {
  margin-top: 1rem;
}

.modal .modal-content {
  margin: 0 auto;
}

#stucking p {
  margin: 0;
  font-size: 0.8rem;
}

#stucking td {
  width: 70px;
}

#stucking .undefined {
  background-color: #ffcdd2;
}

.chart_building_name {
  text-align: center;
}

.chart_building_name a {
  text-decoration: underline;
}

.flex {
  width: 100%;
}

.flex .highcharts {
  width: 90%;
}

.search {
  width: 20%;
  margin: 0 0 1rem auto;
}

